<div class="activity-block-container" (click)="activityService.navToActivity(activity._id)" [ngStyle]="{'background': activity.imgSrc ? 'url('+ activity.imgSrc + ')' : 'blue'}">
  <div class="activity">
    <span class="location">{{ activity.location }}</span>
    <span class="date">{{ activity.startHour.slice(0,5) }}</span>
    <span class="name">{{ activity.title }}</span>
  </div>
</div>


