<div class="text-center">
  <h2 mat-dialog-title>{{ data.title }}</h2>
  <mat-dialog-content>
    <p>{{ data.message }}</p>
    <mat-divider></mat-divider>
    <button mat-button color="primary" class="close-dialog-btn" mat-dialog-close>סגור</button>
  </mat-dialog-content>
</div>
